body {
      margin: 20px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }

    table th, table td {
      border: 1px solid black;
      text-align: center;
      padding: 10px;
    }
   
    h2 {
      text-align: center;
      margin: 20px 0;
    }
    ol {
      width: 100%;
      margin: 0;
	}
	ol img, ol video, ol audio {
      display: block;
      margin: 10px;
    }

